# ---------------------------------------------------------------------------
# Trivadis AG, Infrastructure Managed Services
# Saegereistrasse 29, 8152 Glattbrugg, Switzerland
# ---------------------------------------------------------------------------
# Name.......: db_install112.rsp.tmpl
# Author.....: Stefan Oehrli (oes) stefan.oehrli@trivadis.com
# Editor.....: Stefan Oehrli
# Date.......: 2018.09.27
# Revision...: 
# Purpose....: Response file for Oracle database binary installations.
# Notes......: ###TAG### have to be replaced with correct values
# Reference..: --
# License....: Licensed under the Universal Permissive License v 1.0 as 
#              shown at http://oss.oracle.com/licenses/upl.
# ---------------------------------------------------------------------------
oracle.install.responseFileVersion=/oracle/install/rspfmt_dbinstall_response_schema_v11_2_0
oracle.install.option=INSTALL_DB_SWONLY
UNIX_GROUP_NAME=oinstall
INVENTORY_LOCATION=###ORACLE_INVENTORY###
SELECTED_LANGUAGES=en
ORACLE_BASE=###ORACLE_BASE###
ORACLE_HOME=###ORACLE_HOME###
oracle.install.db.InstallEdition=###ORACLE_EDITION###
oracle.install.db.OPER_GROUP=osoper
oracle.install.db.DBA_GROUP=osdba
oracle.install.db.EEOptionsSelection=false
SECURITY_UPDATES_VIA_MYORACLESUPPORT=false
DECLINE_SECURITY_UPDATES=true
oracle.installer.autoupdates.option=SKIP_UPDATES
# --- EOF --------------------------------------------------------------------